@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", Arial, sans-serif;
  background: #ffffff;
}

.container {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.main-header {
  background: #ffe17f;
  position: relative;
  width: 1160px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 46px 55px 0 60px;
  box-sizing: border-box;
}

.logo-link {
  border: none;
  position: absolute;
  top: -20px;
  left: 59px;
  width: 147px;
  height: 37px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  outline: 2px solid #af4fff;
}

.logo-link:active {
  opacity: 0.3;
}

.header-form {
  padding-right: 26px;
  margin: 0;
  width: 517px;
  height: 40px;
  margin-bottom: 45px;
}

.header-input {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  border-radius: 50px 0px 0px 50px;
  border: 2px solid #000000;
  padding: 9px 46px;
  background: none;
  margin: 0;
  width: 359px;
  height: 40px;
}

.header-button {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000000;
  padding: 1px 0 0px 0;
  text-align: center;
  background: none;
  margin: 0px 0 0px -6px;
  width: 160px;
  height: 40px;
}

.header-list-first {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-top: 5px;
  padding-right: 27px;
  flex-wrap: wrap;
}

.first-header-item {
  width: 230px;
}

.header-list-second {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  gap: 33px;
}

.header-logo-svg {
  padding-right: 12px;
}

.comp {
  padding-right: 8px;
}

.basket {
  padding-right: 7px;
}

.head-item-link-log {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.head-item-link-comp {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.head-item-link-basket {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  position: relative;
}

.quantity {
  border-radius: 10px;
  background: #ffffff;
  font-size: 14px;
  min-width: 20px;
  height: 20px;
  position: absolute;
  left: -15px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  box-sizing: border-box;
}

.header-list-three {
  position: relative;
  padding-right: 338px;
}

.drop-header-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.drop-list {
  width: 1160px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #ffe17f;
  display: none;
}

.first-drop-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 211px;
}

.drop-item {}

.drop-link {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.second-drop-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 211px;
}

.three-drop-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 211px;
}

.header-list-four {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 480px;
  gap: 46px;
}

.four-list-item {
  padding: 0;
  margin: 0;
}

.four-list-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.main {
  flex-grow: 1;
}

.slider-container {
  width: 1160px;
  margin: 0 auto;
}

.arrow-left {}

.arrow-right {}

.slider {}

.slider-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.slider-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.slider-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-item {}

.item-digit {
  font-family: "Rubik";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.item-text {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.first-slider {}

.second-slider {}

.three-slider {}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.category-img {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 27px;
}

.category-item {
  width: 160px;
}

.category-item-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  border: none;
}

.category-item-link:hover .category-img {
  background-color: #ffc700;
  border: none;
}

.category-item-link:focus {
  outline: 2px solid #af4fff;
}

.category-item-link:active {
  opacity: 0.3;
}

.advantages {
  list-style: none;
  padding: 0;
  background-color: #f0f0f0;
  width: 1160px;
  margin: 0 auto;
}

.advantages-item {}

.advantages-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.advantages-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.main-title-link {
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  background: #f0f0f0 url("../images/icons/del-img.svg") no-repeat left;
  width: 1158px;
  display: block;
  text-align: center;
  align-self: center;
  padding: 40px 0px 36px 3px;
  position: relative;
  margin: 0 auto;
  text-decoration: none;
  margin-bottom: 68px;
}

.main-title-link::after {
  position: absolute;
  width: 40px;
  height: 40px;
  content: "";
  background: url("../images/icons/info-logo.svg") no-repeat;
  right: 44px;
  top: 30px;
}

.addit-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 96px;
  margin-bottom: 79px;
}

.addit-item {
  min-width: 532px;
}

.addit-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 0 0 47px 0;
  padding-top: 50px;
}

.addit-text {
  margin: 0;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  margin-bottom: 30px;
}

.second.addit-text {
  margin-bottom: 0;
}

.second-addit-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 37px;
  margin-bottom: 40px;

}

.second-addit-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin-bottom: 19px;
}

.addit-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 23px;
}

.second.addit-link {
  padding-left: 34px;
}

.second-addit-title {
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.addit-tel {
  text-decoration: none;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
}

.worktime-title {
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 15px;
}

.worktime-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 40px;
}

.subscribe-container {
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 56px;
  padding-left: 12px;
  justify-content: center;

}

.sub-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  width: 348px;
  padding-right: 252px;
  display: block;
  padding-bottom: 142px;
  padding-left: 2px;
}

.sub-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  padding: 0;
  margin: 0;
  width: 560px;
  padding-top: 9px;
  display: block;
}

.sub-form {
  width: 1158px;
}

.sub-input {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.3);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  width: 526px;
  margin: 0 0 0 -6px;
  padding: 13px 15px 10px 16px;
  outline: none;
}

.sub-button {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  width: 253px;
  height: 57px;
  box-sizing: border-box;
  margin: 1px 216px 0 -4px;
  padding: 0 0 0 3px;
  border: 3px solid #c4c4c4;
}

.sub-form-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  position: relative;
}

.sub-form-text::before {
  left: -31px;
  top: 3px;
  position: absolute;
  content: "";
  background-image: url("../images/icons/galka-sub.svg");
  width: 14px;
  height: 14px;
}

.footer {
  background: #444444;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  padding: 63px 0 58px;
  width: 1160px;
  margin: 0 auto;
}

.f-foot-block {
  width: 250px;
  padding-left: 1px;
  padding-right: 113px;
}


.foot-logo {
  border: none;
  display: block;
}

.foot-logo:hover {
  opacity: 0.6;
}

.foot-logo:focus {
  outline: 2px solid #af4fff;
}

.foot-logo:active {
  opacity: 0.3;
}

.address {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: block;
  padding-top: 32px;
  margin-left: -1px;
  position: relative;
}

.address::after {
  position: absolute;
  content: "";
  width: 72px;
  border: 4px solid #ffc700;
  right: 164px;
  bottom: -70px;

}

.t-foot-block {
  padding-top: 75px;
  padding-right: 177px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 450px;
  gap: 32px;
  padding-bottom: 61px;
}

.footer-item {}

.footer-item-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-left: -6px;
}

.social-item {}

.social-link {}

.th-foot-block {
  width: 180px;
  padding-top: 78px;
  position: relative;
}

.footer-tel {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

.footer-tel:hover {
  color: #ffc700;
}

.footer-tel:focus {
  outline: 1px solid #af4fff;
  color: #ffffff;
}

.footer-tel:active {
  color: rgba(255, 200, 0, 0.3);
}

.footer-logo {
  position: absolute;
  bottom: 7px;
  right: 0;
  width: 115px;
  height: 33px;
  background-image: url("../images/icons/logo-htmlacademy.svg");
}

.footer-logo:hover {
  background-image: url("../images/icons/hover-htmlacademy.svg");
}

.footer-logo:focus {
  outline: 1px solid #af4fff;
  background-image: url("../images/icons/logo-htmlacademy.svg");
}

.footer-logo:active {
  background-image: url("../images/icons/active-htmlacademy.svg");
  opacity: 0.3;
}














.main-catalog {
  background: #f0f0f0;
}


.catalog-container {
  display: grid;
  grid-template-columns: 320px 840px;
  grid-template-areas: "filter catalog";
  background: #f0f0f0;
  width: 1160px;
  margin: 0 auto;
}

.filter-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-area: filter;
}

.title-crumbs {
  background: #ffffff;
  width: 1160px;
  margin: 0 auto;
}

.catalog-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  padding: 0;
  margin: 0;
}

.catalog-breadcrumbs {
  list-style: none;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  color: #000000;
}

.crumbs-item {
  padding-right: 15px;
  position: relative;
  margin-right: 10px;
}

.crumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/arrow-crumbs.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  top: 5px;
  right: 0;
}

.crumbs-link {
  text-decoration: none;
  color: #000000;
}

.filter-title {
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.legend {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.color-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-item {}

.checkbox-label {}

.bluetooth-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bluetooth-item {}

.radio-label {}

.catalog-slider {
  padding: 0;
  margin: 0;
  border: none;
}

.color-fiedset {
  padding: 0;
  margin: 0;
  border: none;
}

.bluetooth-fielset {
  padding: 0;
  margin: 0;
  border: none;
}

.checkbox-label {}

.radio-label {}

.filter-button {
  background: none;
  border: none;
  outline: none;
}

.card-block {
  grid-area: catalog;
  background: #ffffff;

}

.card-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f0f0f0;
}

.select-title {
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.card-select {
  min-width: 141px;
  height: 30px;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border: none;
  box-sizing: border-box;
  background: transparent;
}

.display-direction {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 44px;
}

.card-item {
  width: 360px;
}

.load-link {
  margin: 0 0 5px 40px;
  padding: 17px 0 17px 0;
  display: block;
  text-align: center;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  color: #000000;
  box-sizing: border-box;
}

.page-block {
  display: flex;
  justify-content: flex-start;
  background: #ebebeb;
  width: 760px;
  margin: 0 0 41px 40px;
  padding: 0;
  min-height: 71px;
  align-items: center;
}

.page-button {
  background: transparent;
  border: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  min-width: 128px;
  min-height: 71px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.back {
  color: #444444;
  opacity: 0.3;
  margin-right: 146px;
}

.forward {
  color: #000000;
}

.page-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-right: 154px;
}

.page-item {
  text-align: center;
}

.page-link {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  min-width: 40px;
  min-height: 40px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 8px;
}
.first-page-link {
  opacity: 0.6;
}
