@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", Arial, sans-serif;
  background: #ffffff;
}

.container {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.main-header {
  background: #ffe17f;
  position: relative;
  width: 1160px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 46px 55px 5px 60px;
  box-sizing: border-box;
}

.logo-link {
  border: none;
  position: absolute;
  top: -20px;
  left: 59px;
  width: 147px;
  height: 37px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  outline: 2px solid #af4fff;
}

.logo-link:active {
  opacity: 0.3;
}

.header-form {
  padding-right: 26px;
  margin: 0;
  width: 517px;
  height: 40px;
}

.header-input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  padding: 9px 46px;
  background-color: transparent;
  margin: 0;
  width: 359px;
  height: 40px;
  background-image: url("../images/icons/search-icons.svg");
  background-repeat: no-repeat;
  background-position: 14px 10px;
  position: relative;
}

.header-input:hover {
  color: #000000;
  outline: none;
}

.header-input:focus {
  outline: 2px solid #af4fff;
}

.header-input:disabled {
  opacity: 0.3;
}

.header-button {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000000;
  padding: 1px 0 0px 0;
  text-align: center;
  background: none;
  margin: 0px 0 0px -6px;
  width: 160px;
  height: 40px;
}

.header-button:hover {
  color: #ffffff;
  background-color: #000000;
  outline: none;
}

.header-button:focus {
  outline: 2px solid #af4fff;
}

.header-button:active {
  color: rgba(255, 255, 255, 0.315);
  background-color: #000000;
  outline: none;
}

.header-button:disabled {
  opacity: 0.3;
}

.header-list-first {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-top: 5px;
  padding-right: 27px;
  flex-wrap: wrap;
}

.first-header-item {
  width: 230px;
}

.header-list-second {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  gap: 33px;
}


.head-item-link-log {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  position: relative;
  padding-left: 27px;
}

.head-item-link-log::before {
  content: "";
  position: absolute;
  background: url("../images/icons/log-icon.svg");
  width: 15px;
  height: 12px;
  top: 5px;
  left: 0;
}

.head-item-link-log:hover {
  opacity: 0.6;
  outline: none;
}

.head-item-link-log:focus {
  outline: 2px solid #af4fff;
}

.head-item-link-log:active {
  opacity: 0.3;
}

.head-item-link-log:disabled {
  opacity: 0.1;
}

.head-item-link-comp {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  position: relative;
  padding-left: 22px;
}

.head-item-link-comp::before {
  content: "";
  position: absolute;
  background: url("../images/icons/comp-icon.svg");
  width: 10px;
  height: 12px;
  top: 5px;
  left: 0;
}

.head-item-link-comp:hover {
  opacity: 0.6;
  outline: none;
}

.head-item-link-comp:focus {
  outline: 2px solid #af4fff;
}

.head-item-link-comp:active {
  opacity: 0.3;
}

.head-item-link-comp:disabled {
  opacity: 0.1;
}

.head-item-link-basket {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  position: relative;
  padding-left: 28px;
}

.head-item-link-basket::before {
  content: "";
  position: absolute;
  background: url("../images/icons/basket-icon.svg");
  width: 16px;
  height: 14px;
  top: 2px;
  left: 1px;
}

.head-item-link-basket:hover {
  opacity: 0.6;
  outline: none;
}

.head-item-link-basket:focus {
  outline: 2px solid #af4fff;
}

.head-item-link-basket:active {
  opacity: 0.3;
}

.head-item-link-basket:disabled {
  opacity: 0.1;
}

.quantity {
  border-radius: 10px;
  background: #ffffff;
  font-size: 13px;
  min-width: 20px;
  height: 20px;
  position: absolute;
  left: -13px;
  top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  box-sizing: border-box;
}

.basket-item {
  position: relative;
}

.basket-item:hover .popover-basket {
  display: block;
}
.popover-basket {
  content: "";
  position: absolute;
  width: 320px;
  min-height: 301px;
  background-color: #000000;
  top: 36px;
  left: -141px;
  z-index: 10;
  box-sizing: border-box;
  padding: 20px 20px;
  display: none;
}

.popover-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 41px;
  margin-bottom: 17px;
  position: relative;
}

.popover-item-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: block;
  box-sizing: border-box;
  min-width: 176px;
  height: 43px;
  padding-left: 62px;
}

.amat-stick {
  width: 176px;
  background: url('../images/small-amat-stick.jpg') no-repeat top left;
}

.pro-stick {
  width: 212px;
  background: url("../images/small-pro-stick.jpg") no-repeat top left;
}

.popover-item-link:hover {
  opacity: 0.6;
  outline: none;
}

.popover-item-link:focus {
  outline: 2px solid #af4fff;
}

.popover-item-link:active {
  opacity: 0.3;
}

.popover-button {
  position: absolute;
  content: "";
  background-color: transparent;
  border: none;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.second-popover-item {
  position: relative;
}

.second-button {
  position: absolute;
  top: 0;
  right: 0;
}

.popover-button:hover {
  opacity: 0.6;
  outline: none;
}

.popover-button:focus {
  outline: 2px solid #af4fff;
}

.popover-button:active {
  opacity: 0.3;
}

.popover-list-second {
  list-style: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.popover-link-busket {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  width: 280px;
  height: 50px;
  padding: 15px 18px 16px 21px;
}

.popover-link-busket:hover {
  outline: none;
  background-color: #ffe17f;
}

.popover-link-busket:focus {
  background-color: #ffffff;
  outline: 2px solid #af4fff;
}

.popover-link-busket:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffe17f;
}

.popover-link-busket:disabled {
  opacity: 0.3;
}

.header-list-three {
  position: relative;
  padding-right: 271px;
}

.drop-header-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 293px;
  height: 51px;
  margin-top: 30px;
  margin-bottom: -21px;
  padding: 15px 25px 15px 0;
  z-index: 1;
}

.drop-header-link::after {
  content: "";
  position: absolute;
  background: url("../images/icons/drop-plus.svg") no-repeat;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.drop-header-link:hover {
  outline: none;
}

.drop-header-link:focus {
  outline: 2px solid #af4fff;
}

.drop-list {
  width: 1160px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #ffe17f;
  display: none;
}

.first-drop-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 211px;
}

.drop-item {}

.drop-link {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.second-drop-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 211px;
}

.three-drop-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 211px;
}

.header-list-four {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 480px;
  gap: 46px;
  margin-top: 45px;
}

.four-list-item {
  padding: 0;
  margin: 0;
}

.four-list-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.four-list-link:hover {
  opacity: 0.6;
  outline: none;
}

.four-list-link:focus {
  opacity: 0.6;
  outline: 2px solid #af4fff
}

.four-list-link:active {
  opacity: 0.3;
}

.four-list-link:disabled {
  opacity: 0.1;
}

.main {
  flex-grow: 1;
}

.welcome {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

.slider-arrow {
  width: 20px;
  height: 60px;
  border: none;
  background: transparent;
  z-index: 2;
}

.arrow-prev {
  position: absolute;
  top: 204px;
  left: 30px;
  background-image: url("../images/icons/arrow-slider.svg");
}

.arrow-next {
  position: absolute;
  top: 204px;
  left: 540px;
  background-image: url("../images/icons/arrow-slider.svg");
  transform: rotate(180deg);
}

.slider-arrow:hover {
  opacity: 0.6;
}

.slider-arrow:focus {
  opacity: 0.3;
  outline: none;
}

.slider-arrow:active {
  outline: 2px solid #af4fff;
}

.slider-arrow:disabled {
  opacity: 0.1;
}

.slider-bullet {}

.slider-container {
  width: 1160px;
  margin: 0 auto;
}

.slider-list {
  width: 3480px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-screen-active {}

.slider-frame {
  width: 100%;
  overflow: hidden;
}

.slider-screen {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 40px;
}

.slide-number {
  position: absolute;
  right: 49px;
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background: #ffe17f;
  text-align: right;
  width: 1160px;
  height: 68px;
  padding-top: 75px;
}

.slide-img {
  z-index: 1;
  margin-top: -7px;
}

.slide {}

.text-slider-block {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.slider {}

.slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  width: 545px;
  margin: 0;
  padding: 0;
  padding-top: 115px;
  padding-bottom: 28px;
}

.slider-text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  width: 560px;
  margin: 0;
  padding: 0;
  display: block;
  padding-bottom: 50px;
}

.slider-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 10px 38px 9px 39px;
  margin-bottom: 50px;
  position: relative;
  width: 220px;
  box-sizing: border-box;
  min-height: 40px;
}

.slider-link:hover.substrate:before {
  outline: none;
  height: 40px;
}

.slider-link:focus {
  outline: 2px solid #af4fff;
}

.slider-link:active.substrate:before {
  background-color: #ffc700;
}

.slider-link:disabled {
  opacity: 0.3;
}

.substrate::before {
  content: "";
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.slider-description {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.slider-item-description {}

.item-digit {
  font-family: "Rubik";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
}

.item-text {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.first-slider {}

.second-slider {}

.three-slider {}

.category {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 42px;
}

.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.category-item {
  width: 160px;
  display: block;
}

.category-item-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  border: none;
  position: relative;
  width: 160px;
  min-height: 253px;
  display: block;
  box-sizing: border-box;
  padding-top: 193px;
}

.category-item-link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.link-glasses::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: transparent;
  z-index: 1;
  background-image: url("../images/icons/glasses.svg");
}

.link-selfi-stick::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  z-index: 1;
  background-image: url("../images/icons/selfi-stick.svg");
}

.link-act-camera::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  z-index: 1;
  background-image: url("../images/icons/act-camera.svg");
}

.link-health-watch::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  z-index: 1;
  background-image: url("../images/icons/health-watch.svg");
}

.link-smart-watch::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  z-index: 1;
  background-image: url("../images/icons/smart-watch.svg");
}

.link-copter-cat::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  z-index: 1;
  background-image: url("../images/icons/copter-cat.svg");
}

.category-item-link:hover.category-item-link::after {
  background-color: #ffc700;
  outline: none;
}

.category-item-link:focus {
  outline: 2px solid #af4fff;
}

.category-item-link:active {
  opacity: 0.3;
}

.advantages-block {
  background: #f0f0f0;
}

.advantages-container {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 126px;
  gap: 123px;
  margin-bottom: 70px;
}

.advantages-legend {
  position: relative;
  list-style: none;
  width: 280px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 0 0 0;
}

.advantages-legend::after {
  position: absolute;
  content: "";
  height: 319px;
  border-right: 7px solid #000000;
  top: -24px;
  left: 280px;
}

.advantages {
  list-style: none;
  padding: 0;
  margin: 0 auto;

}

.advantages-slider {}

.advantages-item {
  display: none;
}

.advantages-item-active {
  display: block;
}

.advantages-legend-item {
  text-align: center;
  padding: 10px 0 9px;
}

.legend-item-link {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 10px 117px 9px 1px;
  box-sizing: border-box;
  width: 280px;
}

.legend-item-link:hover {
  outline: none;
}

.legend-item-link:focus {
  outline: none;
}

.legend-item-link:active {
  outline: none;
}

.legend-item-link:disabled {
  opacity: 0.3;
}

.legend-item-special {
  background-color: #000000;
}

.active {
  color: #ffe17f;
  background-color: #000000;
}

.active:hover {
  padding-left: 35px;
}

.active:focus {
  padding-left: 35px;
  outline: 2px solid #af4fff;
}

.active:active {
  padding-left: 35px;
}

.advantages-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 50px 0 15px 0;
}

.advantages-text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  width: 452px;
}

.main-title-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  background: #f0f0f0;
  width: 1158px;
  display: block;
  text-align: center;
  align-self: center;
  padding: 40px 0 36px 3px;
  position: relative;
  margin: 0 auto;
  text-decoration: none;
  margin-bottom: 68px;
}

.main-title-link::before {
  position: absolute;
  content: "";
  background-color: #ffe17f;
  background-image: url(../images/icons/del-img.svg);
  background-repeat: no-repeat;
  width: 125px;
  background-position: center;
  height: 100px;
  top: 0;
  left: 1px;
}

.main-title-link::after {
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  content: "i";
  background: rgba(220, 220, 220, 0.502);
  border-radius: 50%;
  right: 44px;
  top: 30px;
  text-transform: lowercase;
  padding: 8px 0 0 5px;
  color: rgba(0, 0, 0, 0.3);
}

.main-title-link:hover.main-title-link::before {
  background-color: #ffc700;
}

.main-title-link:hover.main-title-link::after {
  color: #000000;
}

.main-title-link:focus {
  outline: 2px solid #af4fff;
}

.main-title-link:active {
  opacity: 0.3;
}

.main-title-link:disabled {
  opacity: 0.2;
}

.addit-list {
  list-style: none;
  padding: 0;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 96px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.addit-item {
  min-width: 532px;
  position: relative;
}

.addit-item:before {
  content: "";
  position: absolute;
  width: 84px;
  border-bottom: 7px solid #000000;
  top: 2px;
  left: 0;
}

.addit-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 0 0 47px 0;
  padding-top: 50px;
}

.addit-text {
  margin: 0;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  margin-bottom: 30px;
}

.second.addit-text {
  margin-bottom: 0;
}

.second-addit-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 37px;
  margin-bottom: 30px;

}

.second-addit-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin-bottom: 19px;
}

.addit-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  width: 272px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 10px 21px 9px 24px;
  display: block;
}

.addit-link::before {
  content: "";
  position: absolute;
  background-color: #ffe17f;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  z-index: -1;
}

.addit-link:hover.addit-link::before {
  outline: none;
  height: 100%;
}

.addit-link:focus {
  outline: 2px solid #af4fff;
}

.addit-link:active.addit-link::before {
  background-color: #ffc700;
}

.addit-link:disabled {
  opacity: 0.2;
}

.second.addit-link {
  width: 260px;
  padding: 10px 28px 9px 34px;
}

.second-addit-title {
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;
}

.addit-tel {
  text-decoration: none;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  color: #444444;
}

.worktime-title {
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 15px;
}

.worktime-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.subscribe-container {
  background-color: #f0f0f0;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 56px;
}

.subscribe-block {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.sub-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  width: 348px;
  padding-right: 252px;
  display: block;
  padding-bottom: 142px;
  padding-left: 7px;
}

.sub-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  padding: 0;
  margin: 0;
  width: 527px;
  padding-top: 9px;
  display: block;
}

.sub-form {
  width: 1158px;
}

.sub-input {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.3);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  width: 526px;
  margin: 0 0 0 1px;
  padding: 13px 15px 10px 16px;
  outline: none;
}

.sub-input:hover {
  outline: none;
}

.sub-input:focus {
  background-color: #dcdcdc;
}

.sub-button {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  width: 253px;
  height: 57px;
  box-sizing: border-box;
  margin: 1px 215px 0 -4px;
  padding: 0 0 0 4px;
  border: 3px solid #c4c4c4;
}

.sub-button:hover {
  background-color: #000000;
  outline: none;
  color: #ffffff;
  border: 3px solid #000000;
}

.sub-button:focus {
  outline: 2px solid #af4fff;
  background-color: transparent;
  border: 3px solid #c4c4c4;
  color: #000000;
}

.sub-button:active {
  background-color: #000000;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #000000;

}

.sub-button:disabled {
  opacity: 0.3;
}

.sub-form-text {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  position: relative;
}

.sub-form-text::before {
  left: -31px;
  top: 3px;
  position: absolute;
  content: "";
  background-image: url("../images/icons/galka-sub.svg");
  width: 14px;
  height: 14px;
}

.footer {
  background: #444444;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  padding: 62px 0 58px;
  width: 1160px;
  margin: 0 auto;
}

.f-foot-block {
  width: 250px;
  padding-left: 1px;
  padding-right: 113px;
}


.foot-logo {
  border: none;
  display: block;
  width: 145px;
}

.foot-logo:hover {
  opacity: 0.6;
}

.foot-logo:focus {
  outline: 2px solid #af4fff;
}

.foot-logo:active {
  opacity: 0.3;
}

.address {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: block;
  padding-top: 32px;
  margin-left: -1px;
  position: relative;
}

.address::after {
  position: absolute;
  content: "";
  width: 72px;
  border: 4px solid #ffc700;
  right: 164px;
  bottom: -70px;

}

.t-foot-block {
  padding-top: 75px;
  padding-right: 177px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 450px;
  gap: 32px;
  padding-bottom: 61px;
}

.footer-item {}

.footer-item-link {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-item-link:hover {
  color: #ffc700;
  border-bottom: 3px solid #ffc700;
}

.footer-item-link:focus {
  color: #ffffff;
  outline: 2px solid #af4fff;
  border: none;
}

.footer-item-link:active {
  color: #ffc700;
  border-bottom: 3px solid #ffc700;
  opacity: 0.3;
  outline: none;
}

.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-left: -6px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.302);
  border-radius: 50%;
}

.telegram {
  background-image: url("../images/icons/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {}

.social-link:hover {
  outline: none;
  background-color: #ffc700;
}

.social-link:focus {
  outline: 2px solid #af4fff;
  background-color: rgba(255, 255, 255, 0.302);
}

.social-link:active {
  outline: none;
  background-color: #ffc700;
  opacity: 0.3;
}

.th-foot-block {
  width: 180px;
  padding-top: 78px;
  position: relative;
}

.footer-tel {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
  display: block;
}

.footer-tel:hover {
  color: #ffc700;
}

.footer-tel:focus {
  outline: 1px solid #af4fff;
  color: #ffffff;
}

.footer-tel:active {
  color: rgba(255, 200, 0, 0.3);
}

.footer-logo {
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 115px;
  height: 33px;
  background-image: url("../images/icons/logo-htmlacademy.svg");
}

.footer-logo:hover {
  background-image: url("../images/icons/hover-htmlacademy.svg");
}

.footer-logo:focus {
  outline: 1px solid #af4fff;
  background-image: url("../images/icons/logo-htmlacademy.svg");
}

.footer-logo:active {
  background-image: url("../images/icons/active-htmlacademy.svg");
  opacity: 0.3;
}














.main-catalog {
  background: #f0f0f0;
}


.catalog-container {
  display: grid;
  grid-template-columns: 320px 840px;
  grid-template-areas: "filter catalog";
  background: #f0f0f0;
  width: 1160px;
  margin: 0 auto;
}

.filter-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-area: filter;
}

.title-crumbs {
  background: #ffffff;
  width: 1160px;
  margin: 0 auto;
}

.catalog-title {
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  padding: 0;
  margin: 0;
}

.catalog-breadcrumbs {
  list-style: none;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  color: #000000;
}

.crumbs-item {
  padding-right: 15px;
  position: relative;
  margin-right: 10px;
}

.crumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/arrow-crumbs.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  top: 5px;
  right: 0;
}

.crumbs-link {
  text-decoration: none;
  color: #000000;
}

.filter-title {
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.legend {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.color-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-item {}

.checkbox-label {}

.bluetooth-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bluetooth-item {}

.radio-label {}

.catalog-slider {
  padding: 0;
  margin: 0;
  border: none;
}

.color-fiedset {
  padding: 0;
  margin: 0;
  border: none;
}

.bluetooth-fielset {
  padding: 0;
  margin: 0;
  border: none;
}

.checkbox-label {}

.radio-label {}

.filter-button {
  background: none;
  border: none;
  outline: none;
}

.card-block {
  grid-area: catalog;
  background: #ffffff;

}

.card-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f0f0f0;
}

.select-title {
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.card-select {
  min-width: 141px;
  height: 30px;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border: none;
  box-sizing: border-box;
  background: transparent;
}

.display-direction {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 44px;
}

.card-item {
  width: 360px;
}

.load-link {
  margin: 0 0 5px 40px;
  padding: 17px 0 17px 0;
  display: block;
  text-align: center;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-decoration: none;
  width: 760px;
  height: 55px;
  border: 3px solid #e5e5e5;
  color: #000000;
  box-sizing: border-box;
}

.page-block {
  display: flex;
  justify-content: flex-start;
  background: #ebebeb;
  width: 760px;
  margin: 0 0 41px 40px;
  padding: 0;
  min-height: 71px;
  align-items: center;
}

.page-button {
  background: transparent;
  border: none;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  min-width: 128px;
  min-height: 71px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.back {
  color: #444444;
  opacity: 0.3;
  margin-right: 146px;
}

.forward {
  color: #000000;
}

.page-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-right: 154px;
}

.page-item {
  text-align: center;
}

.page-link {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  min-width: 40px;
  min-height: 40px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 8px;
}

.first-page-link {
  opacity: 0.6;
}
